html {
		font-size: 62.5%;
	}

body{
  background-color:#F4F4F4;
	margin:0rem;
  overflow: hidden;
}
body div {scroll-behavior: smooth}
.fixed-header {
  position:fixed;
  top:0;
  width:100%;
  height:5rem;
  z-index:1;
  background-color:#373737;

}

	.fixed-header-title{
		height:3.5rem;
		width:15%;
		float:left;
		font-size: 2.5rem;
		text-align: left;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
		padding: 1rem 0 0 1rem;

	}

  .fixed-header-login{
    height:3.5rem;
    width:10%;
    float:right;
    font-size: 2rem;
    text-align: center;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
		padding-top:1.5rem;
	}
	.fixed-header-add{
		height:3.5rem;
		width:10%;
		float:right;
		font-size: 2rem;
		text-align: center;
		padding-top:1.5rem;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
	}
	.fixed-header-movies{
		height:3.5rem;
		width:10%;
		float:right;
		font-size: 2rem;
		text-align: center;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
		padding-top:1.5rem;

	}

  .fixed-header div:hover{
    font-weight: bold;
  }





.featured-movies{

	width: 170rem;
	margin: 7.5rem 5rem 1rem 12rem;

	background-color: black; 

}
.movie-card{
	width: 50rem;
	height: 40rem;
	float: left;
	margin: 2rem;
	background-color: white;
}

.movie-img-container{
		float:left;
		margin:.25rem;
		height: 60%;
		width: 18rem;

	}
.movie-img{
	height:100%;
}
.movie-text-top{
	float:left;
	margin:.25rem;
	height: 60%;
	width: 28rem;
	font-size: 30px;
}
.movie-text-top span{
	font-size: 2rem;
	margin: .5rem;
}
.movie-text-bottom{
	float:left;
	margin:.25rem;
	height: 14rem;
	width: 46rem;
}

.movie-text-bottom span{
	font-size: 2rem;
	margin: .5rem;
}