html {
		font-size: 62.5%;
	}

body{
  background-color:#F4F4F4;
	margin:0rem;
  overflow: hidden;
}
body div {scroll-behavior: smooth}
.fixed-header {
  position:fixed;
  top:0;
  width:100%;
  height:5rem;
  z-index:1;
  background-color:#373737;

}

	.fixed-header-title{
		height:3.5rem;
		width:15%;
		float:left;
		font-size: 2.5rem;
		text-align: left;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
		padding: 1rem 0 0 1rem;

	}

  .fixed-header-search{
    height:3.5rem;
    width:10%;
    float:right;
    font-size: 2rem;
    text-align: center;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
		padding-top:1.5rem;
	}
	.fixed-header-add{
		height:3.5rem;
		width:10%;
		float:right;
		font-size: 2rem;
		text-align: center;
		padding-top:1.5rem;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
	}
	.fixed-header-movies{
		height:3.5rem;
		width:10%;
		float:right;
		font-size: 2rem;
		text-align: center;
		background-color: #373737;
		color:#F4F4F4;
		font-family: arial;
		padding-top:1.5rem;

	}

  .fixed-header div:hover{
    font-weight: bold;
  }





.featured-movies{
    margin: 5rem;
    height:100%;
    position:relative;
	background-clip:border-box;
	background-color: black;
  }


 	.featured-movies .featured-movies-row-one{
 		height: 45%;
 		margin: 5rem;
 		margin-bottom: 1rem;
 		background-color: white; 
 	}
 	.featured-movies .featured-movies-row-two{
 		height: 45%;
 		margin: 1rem 5rem;
 		background-color: white; 
 	}
 	.featured-movies div .row-item-one{
 		float:left;
 		width: 30%;
 		height: 90%;
 		margin: 2rem;
 		border: 1px solid black;
 	}
 	.featured-movies div .row-item-two{
 		float:left;
 		width: 30%;
 		height: 90%;
 		margin: 2rem;
 		border: 1px solid black;

 	}
 	.featured-movies div .row-item-three{
 		float:left;
 		width: 30%; 		
 		height: 90%;
 		margin: 2rem;
 		border: 1px solid black;
 	}

 	.movie-img-container{
 		float:left;
 		margin:.25rem;
 		height: 60%;
 		width: 30%;

 	}
 	.movie-img{
 		height:100%;
 	}
 	.movie-text-top{
 		float:left;
 		margin:.25rem;
 		height: 60%;
 		width: 65%;
 		font-size: 30px;
 	}
 	.movie-text-bottom{
 		float:left;
 		margin:.25rem;
 		height: 35%;
 		width: 96%;
 	}

