<HTML>
<title> MovieDB </title>
<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/movies-style.css"/>
</head>
<body>
<div class="fixed-header">
	<div class='fixed-header-title' onclick="location.href='http://cs.uky.edu/~njse226/moviedb/views/'"> MovieDB </div>
	<div class="fixed-header-login" onclick="location.href='http://cs.uky.edu/~njse226/moviedb/views/login.html'"> Login/Register </div>
	<div class="fixed-header-add" onclick="location.href='http://cs.uky.edu/~njse226/moviedb/views/add-movie.html'"> Add </div>
	<div class="fixed-header-movies" onclick="location.href='http://cs.uky.edu/~njse226/moviedb/views/movies.html'"> Movies </div>
</div>


<div class="fixed-sidebar">

	<form class="filters"> <h3>Filters</h3>
	Crew Member <br>
	<input type="text" name="crew"> </input> <br>
	<br>
	Title <br>
	<input type="text" name="title"> </input> <br>
	<br>
	Year <br>
	<input type="text" name="year"> </input> <br>
	<br>
	Tags <br>
	<input type="text" name="tags"> </input> <br>
	<br>
	Genre <br>
	<input type="text" name="genre"> </input> <br>
	<br>
	<input type='submit' value='Search!'></input>
	</form>

</div>

<div class='movies-container'>



</div>

<script>

function buildMovieCard(title, img, actors, year, genre, tags){
	var cardHTML = "<div class='movie-card'>";

	cardHTML += "<div class='movie-img-container'>";
	cardHTML +=	"<img class='movie-img' src='" + img +"'></img>";
	cardHTML += "</div>";

	cardHTML += "<div class='movie-text-top'>";
	cardHTML += "<span> Title: " + title + "</span><br>";
	cardHTML += "<span> Year: " + year + "</span><br>";
	cardHTML += "<span> Actors: " + actors + "</span><br>";
	cardHTML += "</div>";

	cardHTML += "<div class='movie-text-bottom'>";
	cardHTML += "<span> Tags: " + tags + "</span><br>";
	cardHTML += "<span> Genre(s): " + genre + "</span><br>";
	cardHTML += "</div>";

	cardHTML += "</div>";

	return cardHTML;

};


function appendMovieCard(title, img, actors, year, genre, tags){
	var cardHTML = buildMovieCard(title, img, actors, year, genre, tags);

	 $('.movies-container').append(cardHTML);

};


</script>

</body>
</HTML>

			