{% load static %}
<HTML>
  <title> MovieDB </title>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'add-movie-style.css' %}"/>
  </head>
  <body>
    <div class="fixed-header">
      <div class='fixed-header-title'  onclick="location.href='{% url 'home:index' %}'"> MovieDB </div>
      <div class="fixed-header-login"  onclick="location.href='{% url 'login:index' %}'"> Login/Register </div>
      <div class="fixed-header-add"    onclick="location.href='{% url 'add_movie:index' %}'"> Add </div>
      <div class="fixed-header-movies" onclick="location.href='{% url 'movies:index' %}'"> Movies </div>
    </div>


    <form class="add-movie" action="{% url 'add_movie:add_movie' %}" method="post"><h3> Add a film </h3>
      {% csrf_token %}
      <span> Title </span><br>
      <input type="text" name="title">
      <br>
      <span> Year </span><br>
      <input type="number" name="release">
      <br>
      <span> Genre(s) </span><br>
      <input type="text" name="genre">
      <br>
      <span> Language </span><br>
      <input type="text" name="language">
      <br>
      <span> Duration </span><br>
      <input type="number" name="duration">
      <br>
      <span> Film Crew </span><br>
      <input type="text" name="film crew">
      <br>
      <span> Tag(s) </span><br>
      <input type="text" name="tags">
      <br>
      <span> Image URL</span><br>
      <input type="text" name="img_url">
      <br>
      <span> Summary </span><br>
      <input type="text" name="summary">
      <br>
      <input type="submit" name="submit" value="Add Film"> 
      <br>
    </form>
  </body>
</HTML>
